@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-font: "Montserrat", sans-serif;
  --primary-bg:#b4245d;
  --secondary-bg:#e72e77;
  --primary-bg2:#b76f7a;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-bg{
  background-color: var(--primary-bg)!important;
}
.secondary-bg{
  background-color: var(--secondary-bg)!important;
}
.fs-14{
  font-size: 14px;
}

.form-select{
  background-image: none!important;
}
.form-select:focus{
  border-color: #fff!important;
  box-shadow: 0 0 0 .25em #fff!important;
}